In [1]:
import pandas as pd

In [2]:
# Load the news CSV (assuming saved as 'news_data.csv')
news_df = pd.read_csv('annotated_sp500_news_2024_AAPL.csv')

# Display the first few rows to verify
news_df.head()

,date,title,content,sentiment_score
0,06/01/2024,Barron's Weekend Stock Picks: Abercrombie & Fi...,Benzinga reviews this weekend's top stories co...,0.01
1,06/01/2024,"What That Famous Investing Quote About Bulls, ...",Motley Fool co-founder David Gardner responds ...,-0.42
2,07/01/2024,"Apple's Busy Week: Tech Standoff, Legal Battle...","It was an eventful week for Apple Inc. AAPL, w...",0.02
3,07/01/2024,Stocks Decline And Fed Rate Cuts Imperiled To ...,"After stellar gains of 107% in 2023, the Magni...",-0.43
4,07/01/2024,"The Last Time Apple Spent This Much Money, It ...",Spending on research and development has nearl...,0.37

In [3]:
news_df['date'] = pd.to_datetime(news_df['date'], format='mixed', dayfirst=True, errors='coerce')

# Display to verify date parsing
news_df[['date']].head()

        date
0 2024-01-06
1 2024-01-06
2 2024-01-07
3 2024-01-07
4 2024-01-07

In [4]:
# Load the stock CSV (assuming saved as 'stock_data.csv')
stock_df = pd.read_csv('stock_data.csv')

# Display the first few rows to verify
stock_df.head()

          Date    Open    High     Low   Close  Adj Close    Volume
0  Dec 30 2024  252.23  253.50  250.75  252.20     251.59  35557500
1  Dec 27 2024  257.83  258.70  253.06  255.59     254.97  42355300
2  Dec 26 2024  258.19  260.10  257.63  259.02     258.40  27237100
3  Dec 24 2024  255.49  258.21  255.29  258.20     257.58  23234700
4  Dec 23 2024  254.77  255.65  253.45  255.27     254.66  40858800

In [5]:
# Convert 'Date' column from 'Month Day Year' (e.g., 'Dec 30 2024') to datetime
# We use errors='coerce' to handle any invalid dates gracefully
stock_df['Date'] = pd.to_datetime(stock_df['Date'], format='%b %d %Y', errors='coerce')

# Drop any rows with invalid dates (if any)
stock_df = stock_df.dropna(subset=['Date'])

# Display to verify date parsing
stock_df[['Date']].head()

        Date
0 2024-12-30
1 2024-12-27
2 2024-12-26
3 2024-12-24
4 2024-12-23

In [6]:
# Rename columns for consistency (e.g., 'date' in news, 'Date' in stock)
news_df = news_df.rename(columns={'date': 'Date'})  # Now both have 'Date'

# Ensure 'Date' is the index or key for merging (optional, but helps)
news_df = news_df.set_index('Date')
stock_df = stock_df.set_index('Date')

In [7]:
# Perform an inner join to keep only rows with common dates
combined_df = news_df.join(stock_df, how='inner', lsuffix='_news', rsuffix='_stock')

# Reset index to make 'Date' a column again
combined_df = combined_df.reset_index()

# Sort by date for consistency
combined_df = combined_df.sort_values(by='Date')

# Display the combined DataFrame
combined_df.head()

,Date,title,content,sentiment_score,Open,High,Low,Close,Adj Close,Volume
0,2024-01-08,IT Market in Argentina to increase by USD 6.68...,IT Market in Argentina to increase by USD 6.68...,0.00,182.09,185.6,181.5,185.56,184.21,59144500
23,2024-01-08,Apple Vision Pro available in the U.S. on Febr...,The era of spatial computing is here - pre-ord...,0.20,182.09,185.6,181.5,185.56,184.21,59144500
24,2024-01-08,Apple announces when the Vision Pro will go on...,Apple announces when the Vision Pro will go on...,0.25,182.09,185.6,181.5,185.56,184.21,59144500
26,2024-01-08,"Yellen Declares Victory - Stock Market Cheers,...","To gain an edge, this is what you need to know...",0.70,182.09,185.6,181.5,185.56,184.21,59144500
27,2024-01-08,3 Dow Jones Stocks To Watch In January 2024,The Dow Jones Industrial Average ( DJIA ) is o...,0.01,182.09,185.6,181.5,185.56,184.21,59144500

In [8]:
combined_df.head()

,Date,title,content,sentiment_score,Open,High,Low,Close,Adj Close,Volume
0,2024-01-08,IT Market in Argentina to increase by USD 6.68...,IT Market in Argentina to increase by USD 6.68...,0.00,182.09,185.6,181.5,185.56,184.21,59144500
23,2024-01-08,Apple Vision Pro available in the U.S. on Febr...,The era of spatial computing is here - pre-ord...,0.20,182.09,185.6,181.5,185.56,184.21,59144500
24,2024-01-08,Apple announces when the Vision Pro will go on...,Apple announces when the Vision Pro will go on...,0.25,182.09,185.6,181.5,185.56,184.21,59144500
26,2024-01-08,"Yellen Declares Victory - Stock Market Cheers,...","To gain an edge, this is what you need to know...",0.70,182.09,185.6,181.5,185.56,184.21,59144500
27,2024-01-08,3 Dow Jones Stocks To Watch In January 2024,The Dow Jones Industrial Average ( DJIA ) is o...,0.01,182.09,185.6,181.5,185.56,184.21,59144500

In [9]:
combined_df = combined_df.drop(columns=['Adj Close'], errors='ignore')  # 'errors=ignore' skips if column doesn't exist

# Display the updated DataFrame to verify
combined_df.head()

,Date,title,content,sentiment_score,Open,High,Low,Close,Volume
0,2024-01-08,IT Market in Argentina to increase by USD 6.68...,IT Market in Argentina to increase by USD 6.68...,0.00,182.09,185.6,181.5,185.56,59144500
23,2024-01-08,Apple Vision Pro available in the U.S. on Febr...,The era of spatial computing is here - pre-ord...,0.20,182.09,185.6,181.5,185.56,59144500
24,2024-01-08,Apple announces when the Vision Pro will go on...,Apple announces when the Vision Pro will go on...,0.25,182.09,185.6,181.5,185.56,59144500
26,2024-01-08,"Yellen Declares Victory - Stock Market Cheers,...","To gain an edge, this is what you need to know...",0.70,182.09,185.6,181.5,185.56,59144500
27,2024-01-08,3 Dow Jones Stocks To Watch In January 2024,The Dow Jones Industrial Average ( DJIA ) is o...,0.01,182.09,185.6,181.5,185.56,59144500

In [10]:
# Sort by 'Date' ascending (assumes 'Date' is datetime type from previous parsing)
combined_df = combined_df.sort_values(by='Date').reset_index(drop=True)

# Verification: Display first and last few dates to confirm chronological order
print(combined_df['Date'].head(5))
print(combined_df['Date'].tail(5))
print(f"Total rows: {len(combined_df)}")

0   2024-01-08
1   2024-01-08
2   2024-01-08
3   2024-01-08
4   2024-01-08
Name: Date, dtype: datetime64[ns]
6046   2024-12-30
6047   2024-12-30
6048   2024-12-30
6049   2024-12-30
6050   2024-12-30
Name: Date, dtype: datetime64[ns]
Total rows: 6051

In [11]:
# Create lagged columns by shifting by 1 (previous day's value)
combined_df['Close_lag1'] = combined_df['Close'].shift(1)  # Assumes 'Close' exists; change to 'Close_stock' if needed
combined_df['High_lag1'] = combined_df['High'].shift(1)    # Assumes 'High' exists
combined_df['Volume_lag1'] = combined_df['Volume'].shift(1)  # Assumes 'Volume' exists

# Verification: Display head with new columns (first row should have NaNs for lags)
print(combined_df[['Date', 'Close', 'Close_lag1', 'High', 'High_lag1', 'Volume', 'Volume_lag1']].head(5))
# Check for NaNs in lags (expected: 1 NaN per lag column)
print(combined_df[['Close_lag1', 'High_lag1', 'Volume_lag1']].isnull().sum())

        Date   Close  Close_lag1   High  High_lag1    Volume  Volume_lag1
0 2024-01-08  185.56         NaN  185.6        NaN  59144500          NaN
1 2024-01-08  185.56      185.56  185.6      185.6  59144500   59144500.0
2 2024-01-08  185.56      185.56  185.6      185.6  59144500   59144500.0
3 2024-01-08  185.56      185.56  185.6      185.6  59144500   59144500.0
4 2024-01-08  185.56      185.56  185.6      185.6  59144500   59144500.0
Close_lag1     1
High_lag1      1
Volume_lag1    1
dtype: int64

In [12]:
# Compute Daily_Return (needs Close and Close_lag1; assumes Close_lag1 is already created)
# Handle division by zero or NaN with fillna(0)
combined_df['Daily_Return'] = (combined_df['Close'] - combined_df['Close_lag1']) / combined_df['Close_lag1']
combined_df['Daily_Return'] = combined_df['Daily_Return'].fillna(0)

# Lag it
combined_df['Daily_Return_lag1'] = combined_df['Daily_Return'].shift(1)

# Verification: Display head with new columns (check if returns make sense, e.g., small percentages)
print(combined_df[['Date', 'Close', 'Close_lag1', 'Daily_Return', 'Daily_Return_lag1']].head(5))
# Summary stats to verify (e.g., mean return around 0, some positives/negatives)
print(combined_df[['Daily_Return', 'Daily_Return_lag1']].describe())

        Date   Close  Close_lag1  Daily_Return  Daily_Return_lag1
0 2024-01-08  185.56         NaN           0.0                NaN
1 2024-01-08  185.56      185.56           0.0                0.0
2 2024-01-08  185.56      185.56           0.0                0.0
3 2024-01-08  185.56      185.56           0.0                0.0
4 2024-01-08  185.56      185.56           0.0                0.0
       Daily_Return  Daily_Return_lag1
count   6051.000000        6050.000000
mean       0.000055           0.000055
std        0.002880           0.002880
min       -0.048167          -0.048167
25%        0.000000           0.000000
50%        0.000000           0.000000
75%        0.000000           0.000000
max        0.076616           0.076616

In [13]:
# Compute Volatility: Rolling std dev of Daily_Return over 5 days (min_periods=1 to avoid all NaNs)
combined_df['Volatility'] = combined_df['Daily_Return'].rolling(window=5, min_periods=1).std()

# Lag it
combined_df['Volatility_lag1'] = combined_df['Volatility'].shift(1)

# Verification: Display head (early rows will have increasing periods; lags start with NaN)
print(combined_df[['Date', 'Daily_Return', 'Volatility', 'Volatility_lag1']].head(10))  # Show 10 to see rolling effect
# Check mean volatility (should be positive, small for stocks)
print(combined_df[['Volatility', 'Volatility_lag1']].describe())

        Date  Daily_Return  Volatility  Volatility_lag1
0 2024-01-08           0.0         NaN              NaN
1 2024-01-08           0.0         0.0              NaN
2 2024-01-08           0.0         0.0              0.0
3 2024-01-08           0.0         0.0              0.0
4 2024-01-08           0.0         0.0              0.0
5 2024-01-08           0.0         0.0              0.0
6 2024-01-08           0.0         0.0              0.0
7 2024-01-08           0.0         0.0              0.0
8 2024-01-08           0.0         0.0              0.0
9 2024-01-08           0.0         0.0              0.0
        Volatility  Volatility_lag1
count  6050.000000      6049.000000
mean      0.000918         0.000918
std       0.002731         0.002731
min       0.000000         0.000000
25%       0.000000         0.000000
50%       0.000000         0.000000
75%       0.000000         0.000000
max       0.034264         0.034264

In [14]:
# If multiple rows per date, aggregate sentiment (mean score per day)
# Assumes 'sentiment_score' column exists in news data (change if named differently, e.g., 'sentiment')
if 'sentiment_score' in combined_df.columns:
    # Group by Date and aggregate (mean for aggregate score)
    sentiment_agg = combined_df.groupby('Date')['sentiment_score'].mean().reset_index()
    sentiment_agg = sentiment_agg.rename(columns={'sentiment_score': 'aggregate_sentiment_score'})
    
    # Merge back into combined_df (assumes one row per date after this)
    combined_df = combined_df.merge(sentiment_agg, on='Date', how='left')
else:
    print("Warning: 'sentiment_score' column not found. Skipping or adjust column name.")

# Lag the aggregated score
combined_df['aggregate_sentiment_score_lag1'] = combined_df['aggregate_sentiment_score'].shift(1)

# Verification: Display head (scores should be between -1 and 1 typically)
print(combined_df[['Date', 'aggregate_sentiment_score', 'aggregate_sentiment_score_lag1']].head(5))
# Check for reasonable range
print(combined_df[['aggregate_sentiment_score', 'aggregate_sentiment_score_lag1']].describe())

        Date  aggregate_sentiment_score  aggregate_sentiment_score_lag1
0 2024-01-08                   0.081905                             NaN
1 2024-01-08                   0.081905                        0.081905
2 2024-01-08                   0.081905                        0.081905
3 2024-01-08                   0.081905                        0.081905
4 2024-01-08                   0.081905                        0.081905
       aggregate_sentiment_score  aggregate_sentiment_score_lag1
count                6051.000000                     6050.000000
mean                    0.097048                        0.097045
std                     0.064927                        0.064932
min                    -0.136400                       -0.136400
25%                     0.056471                        0.056471
50%                     0.096562                        0.096562
75%                     0.137037                        0.137037
max                     0.267391                        0.267391

In [15]:
# Aggregate sentiment volatility (std dev per day if multiple news items)
if 'sentiment_score' in combined_df.columns:
    sentiment_vol = combined_df.groupby('Date')['sentiment_score'].std().reset_index()
    sentiment_vol = sentiment_vol.rename(columns={'sentiment_score': 'sentiment_volatility'})
    sentiment_vol['sentiment_volatility'] = sentiment_vol['sentiment_volatility'].fillna(0)  # Fill NaN (single news days) with 0
    
    # Merge back
    combined_df = combined_df.merge(sentiment_vol, on='Date', how='left')
else:
    print("Warning: 'sentiment_score' column not found. Skipping or adjust column name.")

# Lag it
combined_df['sentiment_volatility_lag1'] = combined_df['sentiment_volatility'].shift(1)

# Verification: Display head (volatility should be >=0, higher if varied sentiments per day)
print(combined_df[['Date', 'sentiment_volatility', 'sentiment_volatility_lag1']].head(5))
# Summary stats (mean should be small if sentiments are consistent)
print(combined_df[['sentiment_volatility', 'sentiment_volatility_lag1']].describe())

        Date  sentiment_volatility  sentiment_volatility_lag1
0 2024-01-08              0.274166                        NaN
1 2024-01-08              0.274166                   0.274166
2 2024-01-08              0.274166                   0.274166
3 2024-01-08              0.274166                   0.274166
4 2024-01-08              0.274166                   0.274166
       sentiment_volatility  sentiment_volatility_lag1
count           6051.000000                6050.000000
mean               0.273358                   0.273356
std                0.061036                   0.061041
min                0.057836                   0.057836
25%                0.235028                   0.235028
50%                0.279735                   0.279735
75%                0.315303                   0.315303
max                0.424926                   0.424926

In [16]:
# Display all new columns in head
new_cols = ['sentiment_volatility_lag1', 'aggregate_sentiment_score_lag1', 'Close_lag1', 'High_lag1', 
            'Volume_lag1', 'Daily_Return_lag1', 'Volatility_lag1']
print(combined_df[['Date'] + new_cols].head(10))

# Check for NaNs across new columns
print(combined_df[new_cols].isnull().sum())

# Export updated DataFrame
combined_df.to_csv('combined_data_with_lags.csv', index=False)
print("Updated DataFrame saved to 'combined_data_with_lags.csv'")

        Date  sentiment_volatility_lag1  aggregate_sentiment_score_lag1  \
0 2024-01-08                        NaN                             NaN
1 2024-01-08                   0.274166                        0.081905
2 2024-01-08                   0.274166                        0.081905
3 2024-01-08                   0.274166                        0.081905
4 2024-01-08                   0.274166                        0.081905
5 2024-01-08                   0.274166                        0.081905
6 2024-01-08                   0.274166                        0.081905
7 2024-01-08                   0.274166                        0.081905
8 2024-01-08                   0.274166                        0.081905
9 2024-01-08                   0.274166                        0.081905

   Close_lag1  High_lag1  Volume_lag1  Daily_Return_lag1  Volatility_lag1
0         NaN        NaN          NaN                NaN              NaN
1      185.56      185.6   59144500.0                0.0              NaN
2      185.56      185.6   59144500.0                0.0              0.0
3      185.56      185.6   59144500.0                0.0              0.0
4      185.56      185.6   59144500.0                0.0              0.0
5      185.56      185.6   59144500.0                0.0              0.0
6      185.56      185.6   59144500.0                0.0              0.0
7      185.56      185.6   59144500.0                0.0              0.0
8      185.56      185.6   59144500.0                0.0              0.0
9      185.56      185.6   59144500.0                0.0              0.0
sentiment_volatility_lag1         1
aggregate_sentiment_score_lag1    1
Close_lag1                        1
High_lag1                         1
Volume_lag1                       1
Daily_Return_lag1                 1
Volatility_lag1                   2
dtype: int64
Updated DataFrame saved to 'combined_data_with_lags.csv'

In [17]:
combined_df.describe

<bound method NDFrame.describe of            Date                                              title  \
0    2024-01-08  IT Market in Argentina to increase by USD 6.68...
1    2024-01-08  Apple's Next-Gen AirTag Launch Said To Be Dela...
2    2024-01-08  Stay In Frame With Belkin's New Stand Pro: The...
3    2024-01-08  Three Stocks: Buy the Dip, Boeing, and Don't L...
4    2024-01-08  Is Tesla A Buy After Over 100% Gains In 2023? ...
...         ...                                                ...
6046 2024-12-30  Industry Comparison: Evaluating Apple Against ...
6047 2024-12-30  Here's Why You Should Stay Away From RCI Stock...
6048 2024-12-30  Should SPDR S&P 500 ETF  ( SPY )  Be on Your I...
6049 2024-12-30      Buy 3 Carillon Mutual Funds for Great Returns
6050 2024-12-30  Dow Jones 2024 Scoreboard: Top 5 Winners, Lose...

                                                content  sentiment_score  \
0     IT Market in Argentina to increase by USD 6.68...             0.00
1     Apple Inc. AAPL has apparently decided to dela...            -0.55
2     Belkin International Inc., a consumer electron...             0.02
3     For the first time in a week, we've heard Wall...            -0.25
4     Tesla, Inc. TSLA stock ended 2023 with a gain ...             0.52
...                                                 ...              ...
6046  In the fast-paced and highly competitive busin...             0.01
6047  Roger Communications is suffering due to inten...            -0.03
6048                   Style Box ETF report for SPY ...            -0.01
6049  Invests in Carillon mutual funds such as HAGAX...             0.83
6050  The Dow Jones Industrial Average hit an all-ti...            -0.03

        Open   High     Low   Close    Volume  Close_lag1  High_lag1  \
0     182.09  185.6  181.50  185.56  59144500         NaN        NaN
1     182.09  185.6  181.50  185.56  59144500      185.56      185.6
2     182.09  185.6  181.50  185.56  59144500      185.56      185.6
3     182.09  185.6  181.50  185.56  59144500      185.56      185.6
4     182.09  185.6  181.50  185.56  59144500      185.56      185.6
...      ...    ...     ...     ...       ...         ...        ...
6046  252.23  253.5  250.75  252.20  35557500      252.20      253.5
6047  252.23  253.5  250.75  252.20  35557500      252.20      253.5
6048  252.23  253.5  250.75  252.20  35557500      252.20      253.5
6049  252.23  253.5  250.75  252.20  35557500      252.20      253.5
6050  252.23  253.5  250.75  252.20  35557500      252.20      253.5

      Volume_lag1  Daily_Return  Daily_Return_lag1  Volatility  \
0             NaN           0.0                NaN         NaN
1      59144500.0           0.0                0.0         0.0
2      59144500.0           0.0                0.0         0.0
3      59144500.0           0.0                0.0         0.0
4      59144500.0           0.0                0.0         0.0
...           ...           ...                ...         ...
6046   35557500.0           0.0                0.0         0.0
6047   35557500.0           0.0                0.0         0.0
6048   35557500.0           0.0                0.0         0.0
6049   35557500.0           0.0                0.0         0.0
6050   35557500.0           0.0                0.0         0.0

      Volatility_lag1  aggregate_sentiment_score  \
0                 NaN                   0.081905
1                 NaN                   0.081905
2                 0.0                   0.081905
3                 0.0                   0.081905
4                 0.0                   0.081905
...               ...                        ...
6046              0.0                   0.120000
6047              0.0                   0.120000
6048              0.0                   0.120000
6049              0.0                   0.120000
6050              0.0                   0.120000

      aggregate_sentiment_score_lag1  sentiment_volatility  \
0                                NaN              0.274166
1                           0.081905              0.274166
2                           0.081905              0.274166
3                           0.081905              0.274166
4                           0.081905              0.274166
...                              ...                   ...
6046                        0.120000              0.285118
6047                        0.120000              0.285118
6048                        0.120000              0.285118
6049                        0.120000              0.285118
6050                        0.120000              0.285118

      sentiment_volatility_lag1
0                           NaN
1                      0.274166
2                      0.274166
3                      0.274166
4                      0.274166
...                         ...
6046                   0.285118
6047                   0.285118
6048                   0.285118
6049                   0.285118
6050                   0.285118

[6051 rows x 20 columns]>